/* Imports */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,400,700');
@import url('https://fonts.googleapis.com/css?family=Muli');

/* Classes */
.button{
	-fx-background-image:url("/style/images/backgrounds/btn_background.jpg");
	-fx-effect:dropshadow(one-pass-box,#2d2d2d,8.0,0.1,0.0,0.0);
	-fx-background-insets: 0.0,0.0,0.0;
	
	-fx-font-family:'IBM Plex Sans', sans-serif;
	-fx-font-size:1.4em;
}


/* IDs */
#projStackPane{
	/*-fx-background-color:#E5903F;*/
	-fx-background-image:url("/style/images/backgrounds/main_background.jpg");
	-fx-background-repeat:stretch;
	-fx-background-size: cover;
}

/* Home */
#playBtn{
	-fx-font-size: 40.0px;	
}

#profile{
	-fx-background-color: null;
	-fx-text-fill: #fdfefe;
	-fx-font-size: 20.0px;
}

#titleHome{
	-fx-text-fill: #fef9e7;
	-fx-font-size: 5.0em;
}


/* PlayingGridPane */
#playingGridPane{
	/*-fx-background-color:#E5903F;*/
	-fx-background-image:url("/style/images/backgrounds/playing_background.jpg");
	-fx-background-repeat:stretch;
	-fx-background-size: cover;
}

#questionStatement{
	-fx-background-image:url("/style/images/backgrounds/statement_background.jpg");
	-fx-background-radius: 15.0;
	-fx-effect:dropshadow(one-pass-box,#2d2d2d,8.0,0.1,0.0,0.0);
	
	-fx-alignment: center;
	
	-fx-text-fill: #fef9e7;
	-fx-font-family:'IBM Plex Sans', sans-serif;
	-fx-font-size:2.2em;
	-fx-font-weight:bold;
}

#answerValue{
	-fx-background-color: /* #ABE5F0*/#222222;
}

#answerBtnOk{
	-fx-background-image:url("/style/images/backgrounds/btn_background_right.jpg");
	-fx-background-repeat:stretch;
	-fx-background-size:cover;
}

#answerBtnNotOk{
	-fx-background-image:url("/style/images/backgrounds/btn_background_wrong.jpg");
	-fx-background-repeat:stretch;
	-fx-background-size: cover;
}

#answerJokerFriend{
	-fx-background-image:url("/style/images/backgrounds/friend_joker_btn_background.jpg");
	-fx-background-repeat:stretch;
	-fx-background-size: cover;
}

#jokerResults{
	-fx-alignment: center;
	-fx-font-size: 1.4em;
	-fx-font-weight: bold;
	-fx-padding: 4.0px;
}

.btnJoker{
	-fx-font-family:'IBM Plex Sans', sans-serif;
	-fx-font-size:1.4em;
}

/* Pyramid */
#earningsPyramid{
	-fx-background-image:url("/style/images/backgrounds/pyramid_background.jpg");
	-fx-background-size: stretch;
	-fx-effect: dropshadow(one-pass-box, black, 2.0, 0.1, 0.0, 0.0);
}

#textEarningsPyramid{
	-fx-font-family:'IBM Plex Sans', sans-serif;
	-fx-alignment: center;
	-fx-text-fill: #fef9e7;
	-fx-font-size: 1.6em;
	-fx-font-weight: bold;
}

#pyramidActualStep{
	-fx-background-image:url("/style/images/backgrounds/pyramid_actual_step_background.jpg"),
		url("/style/images/horizontal_rocket_tiny_right.png"),
		url("/style/images/horizontal_rocket_tiny_left.png");
	-fx-background-size:cover, auto, auto;
	-fx-background-repeat:no-repeat; 
	-fx-background-position:center, left center, right center;
	-fx-background-color:#fefffe;
	
	-fx-font-family:'IBM Plex Sans', sans-serif;
	-fx-alignment: center;
	-fx-text-fill:#e04733;
	-fx-font-size: 1.8em;
	-fx-font-weight: bold;
}

.pyramidTextRound{
	-fx-background-image:url("/style/images/bitcoin_fun_tiny.png"),url("/style/images/bitcoin_fun_tiny.png");
	-fx-background-position:left center,right center;
	-fx-background-repeat: no-repeat ;
	
	
	-fx-font-family:'IBM Plex Sans', sans-serif;
	-fx-alignment: center;
	-fx-text-fill:#e04733;
	-fx-font-size: 1.8em;
	-fx-font-weight: bold;
}

/* Validation */
#btnValidationText{
	-fx-font-size: 50.0px;	
	-fx-alignment: center;
} 

#btnValidation{
	-fx-font-size: 30.0px;	
}

/* AddQuestionGridPane */
#addQuestionPane{
	-fx-background-color: #a5a5a5;
}

/*Timer */
#timer{
	-fx-background-image:url("/style/images/backgrounds/timer_background.jpg");
	-fx-background-position:center;
	-fx-background-repeat: no-repeat;
	
	-fx-font-size: 70.0px;
	-fx-font-weight:bold;
	-fx-alignment: center;
	-fx-text-fill: #fef9e7;
}

/* RulesGridPane */
#rulesText{
	-fx-font-family:'IBM Plex Sans', sans-serif;
	-fx-alignment: center;
	-fx-text-fill: #fef9e7;
	-fx-font-size: 1.2em;
	-fx-font-weight: bold;
	-fx-background-image:url("/style/images/backgrounds/btn_background.jpg");
	-fx-background-size: stretch;
	-fx-wrap-text: true ;	
}

#rulesPane{
	-fx-background-image:url("/style/images/backgrounds/basic_background.jpg");
}

#validationPane{
	-fx-font-size: 1.5em;
}

/*PartyLostGridPane */
#partyLostGridPane{ 
	-fx-font-size: 3.0em;
	-fx-font-weight: bold;
	-fx-background-image:url("/style/images/backgrounds/lost_background.jpg");
}
 
#partyLeftGridPane{
	-fx-font-size: 3.0em;
	-fx-font-weight: bold;
	-fx-background-image:url("/style/images/backgrounds/basic_background.jpg");
	-fx-wrap-text: true ;	
}
 
#partyWonGridPane{
	-fx-font-size: 3.0em;
	-fx-font-weight: bold;
	-fx-background-image:url("/style/images/backgrounds/btn_background.jpg");
}

#okButton{
	-fx-font-family:'IBM Plex Sans', sans-serif;
	-fx-font-size:1.0em;
	-fx-alignment:center;
}

