/* Imports */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,400,700');
@import url('https://fonts.googleapis.com/css?family=Muli');

/* Classes */
.pane{
	-fx-background-color:#E5903F;
  	-fx-effect: dropshadow(one-pass-box, #2d2d2d, 2.0, 0.1, 0.0, 0.0); 
}

.button{
	-fx-background-radius: 9.0;
    -fx-background-color: #FFF8F1;
	-fx-border-radius: 6.0;
   
    -fx-effect:dropshadow(one-pass-box,#2d2d2d,8.0,0.1,0.0,0.0);
    
    -fx-font-family:'IBM Plex Sans', sans-serif;
    -fx-font-size:1.4em;
}


/* IDs */
#projStackPane{
	-fx-background-color:#E5903F;
}

/* Home */
#homePane{
	-fx-background-repeat: round;
}

#playBtn{
	-fx-font-size: 40.0px;	
}

/*#classicBtn, #about{
	-fx-background-color: #fef9e7;
	-fx-border-color: #f9e79f;
	-fx-font-size: 20.0px;
}*/

#profile{
	-fx-background-color: null;
	-fx-text-fill: #fdfefe;
	-fx-font-size: 20.0px;
}

#titleHome{
	-fx-text-fill: #fef9e7;
	-fx-font-size: 5.0em;
}

/* PlayingGridPane */
#questionStatement{
	/* ICIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
	-fx-background-color: #4B557A;
	-fx-background-radius: 15.0;
    -fx-effect:dropshadow(one-pass-box,#2d2d2d,8.0,0.1,0.0,0.0);
    
	-fx-alignment: center;
	
	-fx-text-fill: #FFF8F1;
    -fx-font-family:'IBM Plex Sans', sans-serif;
    -fx-font-size:2.5em;
    -fx-font-weight:bold;
}

#answerValue{
	-fx-alignment: center-left;
	-fx-background-color: #ABE5F0;
}

#answerBtnOk{
	-fx-alignment: center-left;
	-fx-background-color: #ABF0BB;
}

#answerBtnNotOk{
	-fx-alignment: center-left;
	-fx-background-color: #F6497D;
}

#answerJokerFriend{
	-fx-background-color: #3f78d3;
}

#jokerResults{
	-fx-alignment: top-center;
	-fx-font-size: 1.3em;
	-fx-font-weight: bold;
	-fx-padding: 10px;
	/*-fx-background-color:#F6497D;*/
}

.btnJoker{
	-fx-font-family:'IBM Plex Sans', sans-serif;
    -fx-font-size:1.4em;
}

/* Pyramid */
#earningsPyramid{
	/* ICIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
	-fx-background-color: #4B557A;
	-fx-background-radius: 15.0;
	-fx-text-fill:#262626;
	-fx-effect: dropshadow(one-pass-box, black, 2.0, 0.1, 0.0, 0.0);
    
	-fx-alignment: center; 
 	
	-fx-font-family:'IBM Plex Sans', sans-serif;
    -fx-font-size:1.6em;
    -fx-font-weight:bold;
}

#pyramidOldStep{
	-fx-background-color:#1FBB73;
}

#pyramidActualStep{
	-fx-background-color:#FFF8F1;
}

#pyramidTextRound{
	-fx-text-fill:#e04733;
}

/* Validation */
#btnValidationText{
	-fx-font-size: 50.0px;	
	-fx-alignment: center;
} 

#btnValidation{
	-fx-font-size: 30.0px;	
}

/* AddQuestionGridPane */
#addQuestionPane{
	-fx-background-color: #a5a5a5;
}

/*Timer */
#timer{
	-fx-font-size: 40.0px;
	-fx-background-color: white, white;
  	-fx-background-radius: 16.4, 15.0;
  	-fx-background-insets: -1.4, 0.0;
  	-fx-border-radius: 15.0;
  	-fx-border-width: 2.0;
  	-fx-border-color: dimgrey;
  	-fx-padding: 0.0;

}
/* RulesGridPane */
#rules{
	
}


