/* Classes */
.root{
    -fx-font-size: 12.0pt;
	-fx-font-family:'IBM Plex Sans', sans-serif;
}
.button{
	-fx-background-image:url("/style/images/backgrounds/btn_background.jpg");
	-fx-effect:dropshadow(one-pass-box,#2d2d2d,8.0,0.1,0.0,0.0);
	-fx-background-insets: 0.0,0.0,0.0;
	
	-fx-font-size:1.4em;
	-fx-text-fill:#2d2d2d;	
}

.button-large{
	-fx-font-family:'IBM Plex Sans SemiBold', sans-serif;
	-fx-min-height: 77.0px;
	-fx-min-width: 270.9px;
}

.button-medium{
	-fx-font-family:'IBM Plex Sans SemiBold', sans-serif;
	-fx-min-height: 55.0px;
	-fx-min-width: 193.5px;
}

.button-small{
	-fx-font-family:'IBM Plex Sans SemiBold', sans-serif;
	-fx-min-height: 55.0px;
	-fx-min-width: 105.5px;
}


.main-button-md{
	-fx-font-family:'IBM Plex Sans SemiBold', sans-serif;
	-fx-font-size:2.0em;
}

.combo-box-large{
	-fx-min-height:40.0; 
	-fx-min-width:250.0;
	-fx-max-height:50.0; 
	
	-fx-font-size:1.6em;
}

.textfield-large{
	-fx-min-height:40.0; 
	-fx-min-width:400.0;
	-fx-max-height:50.0; 
	
	-fx-effect:dropshadow(one-pass-box,#f2f2f2,0.0,0.1,0.0,0.0);
	-fx-background-insets: 0.0,0.0,0.0;
	-fx-background-radius:5.0px;
	-fx-background-color:#f4f4f4;
	
	-fx-text-fill:#2d2d2d;
	-fx-prompt-text-fill: #666666;
	-fx-padding:5.0px;
	
	-fx-font-size:1.6em;
}

.title-xl{
	-fx-font-size:4.7em;
	-fx-font-weight:bold;
	-fx-text-fill:#edbf0b;
}

.title-large{
	-fx-font-family:'IBM Plex Sans SemiBold', sans-serif;
	-fx-font-size:3.8em;
	-fx-font-weight:bold;
	-fx-text-fill:#edbf0b;
}

.title-medium{
	-fx-font-family:'IBM Plex Sans SemiBold', sans-serif;
	-fx-font-size:2.4em;
	-fx-text-fill:#2d2d2d;
}

.title-small{
	-fx-font-family:'IBM Plex Sans SemiBold', sans-serif;
	-fx-font-size:1.8em;
	-fx-text-fill:#2d2d2d;
}

.input-error{
	-fx-font-family:'IBM Plex Sans SemiBold', sans-serif;
	-fx-font-size:1.3em;
	-fx-text-fill:#d82811/*#e23822*/;
}

.basic-background{
	-fx-background-image:url("/style/images/backgrounds/basic_background.jpg");
	-fx-background-repeat:round;
	-fx-background-size:contain;
}

.tooltip{
	-fx-background-color:#2D2D2D;
	-fx-background-radius: 5.0px;
	-fx-padding:9.0px;
	
    -fx-text-alignment:center;
	-fx-font-size:1.2em;
}


/* IDs */
#projStackPane{
	-fx-background-image:url("/style/images/backgrounds/main_background.jpg");
	-fx-background-repeat:round;
	-fx-background-size:contain;
}

/* Home */
#home-title{
}

#playBtn{
	-fx-font-family:'IBM Plex Sans SemiBold', sans-serif;
	-fx-font-size:3.8em;
}

#profile{
	-fx-background-color: null;
	-fx-text-fill: #fdfefe;
	-fx-font-size: 20.0px;
}

/* PlayingGridPane */
#playingGridPane{
	-fx-background-image:url("/style/images/backgrounds/playing_background.jpg");
	-fx-background-repeat:round;
	-fx-background-size:contain;
}

#questionStatement{
	-fx-background-image:url("/style/images/backgrounds/statement_background.jpg");
	-fx-background-radius: 15.0;
	-fx-effect:dropshadow(one-pass-box,#2d2d2d,8.0,0.1,0.0,0.0);
	
	-fx-alignment: center;
	
	-fx-text-fill: #f4f4f4;
	-fx-font-family:'IBM Plex Sans SemiBold', sans-serif;
	-fx-font-size:2.2em;
	-fx-font-weight:bold;
}

#answerValue{
	-fx-background-color: /* #ABE5F0*/#2d2d2d;
	-fx-font-family:'IBM Plex Sans SemiBold', sans-serif;
}

#answerBtnOk{
	-fx-background-image:url("/style/images/backgrounds/btn_background_right.jpg");
	-fx-background-repeat:stretch;
	-fx-background-size:cover;
	-fx-font-family:'IBM Plex Sans SemiBold', sans-serif;
}

#answerBtnNotOk{
	-fx-background-image:url("/style/images/backgrounds/btn_background_wrong.jpg");
	-fx-background-repeat:stretch;
	-fx-background-size: cover;
	-fx-font-family:'IBM Plex Sans SemiBold', sans-serif;
}

#answerJokerFriend{
	-fx-background-image:url("/style/images/backgrounds/friend_joker_btn_background.jpg");
	-fx-background-repeat:stretch;
	-fx-background-size: cover;
	-fx-font-family:'IBM Plex Sans SemiBold', sans-serif;
}

#jokerResults{
	-fx-font-family:'IBM Plex Sans SemiBold', sans-serif;
	-fx-alignment: center;
	-fx-font-size: 1.4em;
	-fx-padding: 4.0px;
}

.btnJoker{
}

/* Pyramid */
#earningsPyramid{
	-fx-background-image:url("/style/images/backgrounds/pyramid_background.jpg");
	-fx-background-size: stretch;
	-fx-effect: dropshadow(one-pass-box, #2d2d2d, 2.0, 0.1, 0.0, 0.0);
}

#textEarningsPyramid{
	-fx-font-family:'IBM Plex Sans SemiBold', sans-serif;
	-fx-alignment: center;
	-fx-text-fill: #f4f4f4;
	-fx-font-size: 1.6em;
	-fx-font-weight: bold;
}

#pyramidActualStep{
	-fx-background-image:url("/style/images/backgrounds/pyramid_actual_step_background.jpg"),
		url("/style/images/facing_right_rocket_tiny.png"),
		url("/style/images/facing_left_rocket_tiny.png");
	-fx-background-size:cover, auto, auto;
	-fx-background-repeat:no-repeat; 
	-fx-background-position:center, left center, right center;
	-fx-background-color:#fefffe;
	
	-fx-alignment: center;
	-fx-text-fill:#d82811;
	-fx-font-size: 1.8em;
	-fx-font-weight: bold;
}

.pyramidTextRound{
	-fx-background-image:url("/style/images/bitcoin_fun_tiny.png"),url("/style/images/bitcoin_fun_tiny.png");
	-fx-background-position:left center,right center;
	-fx-background-repeat: no-repeat ;
	
	-fx-alignment: center;
	-fx-text-fill:#d82811;
	-fx-font-size: 1.8em;
	-fx-font-weight: bold;
}

/* Validation */
#btnValidationText{
	-fx-font-size: 50.0px;	
	-fx-alignment: center;
} 

#btnValidation{
	-fx-font-size: 30.0px;	
}

/* AddQuestionGridPane */
#addQuestionPane{
	-fx-min-width:100.0%;
	-fx-min-width:100.0%;
	-fx-padding: 3.0em;
}

/*Timer */
#timer{
	-fx-background-image:url("/style/images/backgrounds/timer_background.jpg");
	-fx-background-position:center;
	-fx-background-repeat: no-repeat;
	
	-fx-font-size:6.0em;
	-fx-font-weight:bold;
	-fx-alignment: center;
	-fx-text-fill: #f4f4f4;
}

/* RulesGridPane */
#rulesText{
	-fx-alignment: center;
	-fx-text-fill: #f4f4f4;
	-fx-font-size: 1.2em;
	-fx-font-weight: bold;
	-fx-background-image:url("/style/images/backgrounds/btn_background.jpg");
	-fx-background-size: stretch;
	-fx-wrap-text: true ;	
}

#rulesPane{
	-fx-background-image:url("/style/images/backgrounds/basic_background.jpg");
}

#validationPane{
	-fx-font-size: 1.5em;
}
#AboutText{
	-fx-alignment: center;
	-fx-text-fill: #fef9e7;
	-fx-font-size: 1.8em;
	-fx-font-weight: bold;
	-fx-background-image:url("/style/images/backgrounds/btn_background.jpg");
	-fx-background-size: stretch;
	-fx-wrap-text: true ;	
}


/*PartyLostGridPane */
#partyLostGridPane{ 
	-fx-font-size: 3.0em;
	-fx-font-weight: bold;
	-fx-background-image:url("/style/images/backgrounds/lost_background.jpg");
}
 
#partyLeftGridPane{
	-fx-font-size: 3.0em;
	-fx-font-weight: bold;
	-fx-background-image:url("/style/images/backgrounds/basic_background.jpg");
	-fx-wrap-text: true ;	
}
 
#partyWon{
	-fx-font-size: 3.0em;
	-fx-font-weight: bold;
	-fx-background-image:url("/style/images/backgrounds/basic_background_yellow.jpg");
}

#okButton{
	-fx-alignment:center;
}

/*ProfilGridPane */
#profilPane{
	-fx-background-image:url("/style/images/backgrounds/basic_background.jpg");
}

#lblResize{
	-fx-wrap-text: true ;
}

/* TableViews */
#tableview-bottom-hb{
	-fx-padding: 1.5em 0.0 1.0em 0.0 ;	
}

.table-view{
	-fx-background-color: transparent;
	-fx-effect:dropshadow(one-pass-box,#2d2d2d,8.0,0.1,0.0,0.0);
}

.table-resize{
	-fx-padding: 3.0em 3.0em 1.5em 3.0em;
}


.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #2d2d2d;
    -fx-min-height:1.5em;
}

.table-view .column-header-background .label{
	-fx-background-color: #2d2d2d;
    -fx-text-fill: #f4f4f4;
    -fx-min-height:1.6em;
    -fx-font-size:1.5em;
}

.table-view .column-header {
	-fx-background-color: #2d2d2d;
	-fx-font-family:'IBM Plex Sans SemiBold', sans-serif;
    -fx-min-height:2.0em;
}


.table-view .table-cell{
    -fx-text-fill: #f4f4f4;
    -fx-font-size:1.1em;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #474747;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-min-height:2.5em;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #2d2d2d;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
}

.table-row-cell:selected {
    -fx-background-color: #dbb41a ;
    -fx-font-family: 'IBM Plex Sans SemiBold', sans-serif;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
    -fx-text-background-color:#2d2d2d;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background  
{
    -fx-background-color: #2d2d2d;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button
{
    -fx-opacity: 0.0;
}

#scores-table .table-column{
	-fx-font-size: 1.3em;
	-fx-alignment: center;
}


/* Radio buttons */
.radio-button {
    -fx-text-fill: #f4f4f4;
}

.radio-button .radio  {
   -fx-background-color: #f4f4f4;
   -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
   -fx-background-insets: 0.0;
   
   -fx-border-radius: 1.0em;
   -fx-border-color: #cfcfcf;
    
   -fx-padding: 4.0px; /* 4 -- padding from outside edge to the inner black dot */
}

.radio-button:hover .radio {
    -fx-background-color: #e0e0e0;
    -fx-border-color: #e0e0e0;
}


.radio-button .dot {
   -fx-background-color: transparent;
   -fx-background-insets: 0.0;
   -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
   -fx-padding: 6.0px; /* 3 -- radius of the inner black dot when selected */
}

.radio-button:selected .dot {
   -fx-background-color: #212121;
}

.radio-button:disabled
{
    -fx-opacity: 0.5;
}

.radio-button:disabled .radio
{
    -fx-background-color: #e6e6e6;
    -fx-border-color: #d9d9d9;
}

.radio-button:focused .radio
{
   -fx-background-color: #cfcfcf;
   -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
   -fx-background-insets: 0.0;
   
   -fx-border-style: solid, segments(1.0, 1.0);
   -fx-border-radius: 1.0em, 0.0;
   -fx-border-color: #cfcfcf, #f4f4f4;
   -fx-border-insets: 0.0px, -2.0px;
   -fx-border-width: 1.0px, 1.0px;
    
   -fx-padding: 4.0px; /* 4 -- padding from outside edge to the inner black dot */   
}

.radio-button:armed .radio {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #f4f4f4;
}

.radio-button:pressed:selected .radio
{
    -fx-background-color: #f4f4f4;
    -fx-border-color: #f4f4f4;
}

.radio-button:pressed:selected .dot
{
    -fx-background-color: black;
}

.radio-button:armed .dot
{
    -fx-background-color: #f4f4f4;
}

.radio-button:focused:armed .radio
{
   -fx-background-color: #f4f4f4;
   -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
   -fx-background-insets: 0.0;
   
   -fx-border-style: solid, segments(1.0, 1.0);
   -fx-border-radius: 1.0em, 0.0;
   -fx-border-color: #f4f4f4, #f4f4f4;
   -fx-border-insets: 0.0px, -2.0px;
   -fx-border-width: 1.0px, 1.0px;
    
   -fx-padding: 4.0px; /* 4 -- padding from outside edge to the inner black dot */   
}

/* Combo box */
.combo-box-base  {
    -fx-background-color: transparent, #f4f4f4, transparent, #f4f4f4;
    -fx-background-radius: 5.0px;
    -fx-padding: 0.166667em; /* 2 */
}

.combo-box-base  .list-cell{
    -fx-text-fill: #2d2d2d;
}

.combo-box-base:hover {
    -fx-background-color: transparent, #5b5b5b, transparent, #f4f4f4;
    -fx-opacity:0.97;    
}

/*.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}*/

.combo-box-base:disabled {
    -fx-opacity: 0.4;
}

/* ------- OPEN BUTTON ------- */
.combo-box-base .arrow-button {
    -fx-background-color: transparent, transparent, #f4f4f4;
}

/* ------- ARROW* ------- */
.combo-box-base .arrow {
    -fx-padding: 0.333333em 0.333333em 0.333333em 0.333333em; /* 4 4 4 4 */
    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
    -fx-background-color: transparent, #1d1d1d;
}

.combo-box-popup .list-view {
    -fx-background-color: #f4f4f4, -fx-control-inner-background;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.0) , 8.0, 0.0 , 0.0 , 0.0 );
    -fx-background-radius: 5.0px;
}

.combo-box-popup .list-view .list-cell{
    -fx-background-color: #f4f4f4;
    -fx-text-fill: #2d2d2d;
}

.combo-box-popup .list-view .list-cell:hover{
    -fx-background-color: #dbb41a;
    -fx-text-fill: #1d1d1d;
}

.combo-box-popup .list-view .list-cell:filled:selected{
    -fx-background-color: #dbb41a;
}

.combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #dbb41a;
}

.combo-box-popup .list-view .list-cell:filled:pressed, .combo-box-popup .list-view .list-cell:filled:selected:pressed
{
    -fx-background-color: #d3d3d3;
    -fx-text-fill: #1d1d1d;
}


/* Scroll bar */
.scroll-bar .thumb{
    -fx-background-color: #b8b8b8;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}

.scroll-bar .thumb:hover {
    -fx-color: #cacaca;
}

/* The following is not working. Maybe related to RT-10521*/
.scroll-bar .thumb:pressed {
    -fx-color: #1e1e1e;
}


.scroll-bar .track {
     -fx-background-color: #f4f4f4;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}
.scroll-bar .track-background {
     -fx-background-color: #f4f4f4;
    -fx-background-insets: 0.0;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: #f4f4f4;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    
    -fx-padding: 0.25em; /* 3 */
}

.scroll-bar .increment-button:hover, .scroll-bar .decrement-button:hover  {
    -fx-background-color: #cacaca;
}

.scroll-bar .increment-button:pressed, .scroll-bar .decrement-button:pressed {
    -fx-background-color: #1e1e1e;
}

.scroll-bar:horizontal .increment-arrow {
    -fx-background-color: #1e1e1e, #1e1e1e;
    -fx-background-insets: 1.0 0.0 -1.0 0.0, 0.0;
    -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
    -fx-shape: "M7.626,12.876L4.251,8.751H7.14L11,12.876L7.14,17H4.251L7.626,12.876z";
}

.scroll-bar:vertical .increment-arrow {
    -fx-background-color: #1e1e1e, #1e1e1e;
    -fx-background-insets: 1.0 0.0 -1.0 0.0, 0.0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em;  /*4 6 0 0 */
    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
}

.scroll-bar .increment-button:pressed .increment-arrow {
    -fx-background-color: #f4f4f4, #f4f4f4;
}

.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: #1e1e1e, #1e1e1e;
    -fx-background-insets: 1.0 0.0 -1.0 0.0, 0.0;
    -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
    -fx-shape: "M11,17H8.111l-3.86-4.124l3.86-4.125H11l-3.375,4.125L11,17z";
}

.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: #1e1e1e, #1e1e1e;
    -fx-background-insets: 1.0 0.0 -1.0 0.0, 0.0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
}

.scroll-bar .decrement-button:pressed .decrement-arrow {
    -fx-background-color: #f4f4f4, #f4f4f4;
}

.scroll-bar:disabled {
    -fx-opacity: 0.4;
}


